/* set-up */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/*containers*/
body{
    width: 600px;
    margin: auto;
    border-radius: 100px;
}

/*header*/
header{
    background-color: rgb(207 207 207);
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/*black-bar*/
.black-bar{
    background-color: black;

    /*debug*/
    height: 100px;
}

/* calculator buttons */
.flex{
    background-color: rgb(207 207 207);
    display: flex;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    /* debug */
    height: 500px;
    border: 2px solid black;
}

.number-flex, .sign-flex{
    padding: 20px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;

    /*debug*/
    /* background-color: green; */
}

.sign-flex{
    flex-direction: column;
}

/*columns*/

.number-column{
    flex-grow: 3;
}

.sign-column{
    flex-grow: 1;
}

/*items*/

.number-item{
    width: calc(100%/3);
}

.zero{
    flex-grow: 1;
}

.sign-item{
    height: calc(100%/5);
}